:root {
  /* --color: #1e90ff; */
  --active-color: #1b82ea;
  --active-overlay: #1e8fff50;
  --paper-background: #fff;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
